* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}